body {
    background-color: #FFF4E9;
}
.lightBrownBg {
    background-color: #C3A29E;
}
.lightYellow {
    background-color: #fff;
}
.inputClass {
    width: 100%;
    background-color: #FFF4E9;
    border-radius: 10px;
    color: #C3A29E;
    margin: 2% 0%;
    padding: 2% 0%;
}
/* Example CSS class for articles */
.article-container {
    margin-top: 3%;
    margin-bottom: 3%;
}
  
  .article-image {
    flex: 0 0 30%; /* Adjust width as needed */
  }
  
  .article-content {
    flex: 1;
    padding: 0 20px; /* Adjust padding as needed */
  }
  .headerEdit {
    display: block;
    width: 100%;
  }
  .articleEdit {
    display: block;
    margin-top: 3%;
    width: 100%;
  }
  .header-content-wrapper {
    width: 74%;
  }
  /* Add this class to new articles' containers */